[submodule "training"]
	path = training
	url = git@github.com:johnkegd/training.git
[submodule "colaborations/brynels"]
	path = colaborations/brynels
	url = git@github.com:johnkegd/brynels.git
[submodule "colaborations/ceres/portfolio"]
	path = colaborations/ceres/portfolio
	url = git@github.com:johnkegd/ceres.git
[submodule "frontend-area/svelte/svelte-library"]
	path = frontend-area/svelte/svelte-library
	url = git@github.com:johnkegd/svelte-library
[submodule "colaborations/solmedic"]
	path = colaborations/solmedic
	url = git@github.com:johnkegd/solmedic.git
[submodule "devtools"]
	path = devtools
	url = git@github.com:johnkegd/devtools.git
[submodule "johnkegd"]
	path = johnkegd
	url = git@github.com:johnkegd/johnkegd.git
[submodule "aem"]
	path = aem
	url = git@github.com:johnkegd/aem.git
